<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <title>Hello Django</title>
</head>

<body>



{#    <h2>&nbsp; ♕ &nbsp;&nbsp;&nbsp;+{{ pocetDen }} </h2> {#za {{ datum }}#}
{#    <h2>&nbsp; &nbsp; ☼ &nbsp;&nbsp;&nbsp; {{ info }} °С</h2>#}
{#    <h2>&nbsp; EUR &nbsp;{{ kurz }}</h2>#}

<p></p>
<table style="border-collapse: collapse; width: 92.7221%; height: 208px;" border="0">
<tbody>
<tr style="height: 18px;">
<td style="width: 30.6831%; height: 208px;" rowspan="4">
<h2>&nbsp; ♕ &nbsp;&nbsp;&nbsp;+{{ pocetDen }}</h2>
{#za {{ datum }}#}
<h2>&nbsp; &nbsp; ☼ &nbsp;&nbsp;&nbsp; {{ info }} &deg;С</h2>
<h2>&nbsp; EUR &nbsp;{{ kurz }}</h2>
</td>
<td style="width: 1.8018%; height: 62px;">7</td>
<td style="width: 4.62963%; height: 62px;">↖</td>
<td style="width: 17.1677%; height: 62px;">Černokosteleck&aacute;</td>
<td style="width: 1.11111%; height: 62px;">2</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.8018%; height: 60px;">16</td>
<td style="width: 4.62963%; height: 60px;">↗</td>
<td style="width: 17.1677%; height: 60px;">Lehovec</td>
<td style="width: 1.11111%; height: 60px;">3</td>
</tr>
<tr style="height: 18px;">
<td style="width: 1.8018%; height: 60px;">10</td>
<td style="width: 4.62963%; height: 60px;">↖</td>
<td style="width: 17.1677%; height: 60px;">S&iacute;dli&scaron;tě Ď&aacute;blice</td>
<td style="width: 1.11111%; height: 60px;">3</td>
</tr>
<tr style="height: 62px;">
<td style="width: 1.8018%; height: 26px;">7</td>
<td style="width: 4.62963%; height: 26px;">↖</td>
<td style="width: 17.1677%; height: 26px;">Černokosteleck&aacute;</td>
<td style="width: 1.11111%; height: 26px;">7</td>
</tr>
</tbody>
</table>

</body>

</html>
